<EditForm Model="@Produto" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label form="nome">Nome</label>
        <div>
            <InputText id="txtNomeProduto" @bind-Value="@Produto.Nome" class="form-control"/>
            <ValidationMessage For="()=> Produto.Nome"/>
        </div>
    </div>

    <div class="form-group">
        <label form="descricao">Descrição</label>
        <div>
            <InputTextArea @bind-Value="@Produto.Descricao" class="form-control"/>
            <ValidationMessage For="()=> Produto.Descricao"/>
        </div>
    </div>

    <div class="form-group">
        <label form="preco">Preço</label>
        <div>
            <InputNumber @bind-Value="@Produto.Preco" class="form-control"/>
            <ValidationMessage For="()=> Produto.Preco"/>
        </div>
    </div>

    <div class="form-group">
        <label form="categoria">Categoria</label>
        <div>
            <select @onchange="CategoriaSelectionChange" class="form-control">
                @if (categorias != null)
                {
                    @foreach (var categoria in categorias)
                    {
                        <option value="@categoria.CategoriaId" class="form-control">
                            @categoria.Nome
                        </option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <InputImagem Label="Imagem" ImagemSelecionada="ImagemSelecionada" ImagemRemota="@ImagemRemota">

        </InputImagem>
    </div>

    <br />

    <button type="submit" class="btn btn-success">@ButtonTextSubmit</button>
    <button class="btn btn-danger" onclick="@(()=> navigation.NavigateTo("produto"))" >@ButtonTextCancelar</button>
</EditForm>

@code {
    List<Categoria>? categorias;

    [Inject] public NavigationManager navigation { get; set; }
    [Inject] public HttpClient http { get; set; }
    [Parameter] public Produto Produto { get; set; } = new Produto();
    [Parameter] public string ButtonTextSubmit { get; set; } = "Salvar";
    [Parameter] public string ButtonTextCancelar { get; set; } = "Cancelar";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public string ImagemRemota { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CarregarCategorias();
    }

    private async Task CarregarCategorias()
    {
        categorias = await http.GetFromJsonAsync<List<Categoria>>("api/Categoria/todas");
    }

    void CategoriaSelectionChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int id))
        {
            Produto.CategoriaId = id;
        }
    }
    private void ImagemSelecionada(string imagemBase64)
    {
        Produto.IamagemUrl = imagemBase64;
        ImagemRemota = null;
        Produto.CategoriaId = categorias.FirstOrDefault()?.CategoriaId ?? 0;
    }
}
